fastapi
uvicorn
pydantic
python-dotenv
sentence-transformers
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl
numpy==1.26.4
groq
beautifulsoup4
requests
pandas
litellm>=1.40.0